$board-color:  #a45729;

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#orange {
    background-color: orangered;
}

#purple {
    background-color: purple;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
    color: white;
}

#transparent {
    background-color: transparent;
}